/* 1. Google Fonts Import MUST go at the very top of the file */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');
@import 'tailwindcss';

/* 2. Configure Tailwind v4 to map 'font-sans' utility classes to Jost */
@theme{
  --font-sans: 'Jost', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  --font-jost : "Jost", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --font-dmSans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --color-red : #ED212B;
  --colro-blue: #3B7FCD;
  --color-yellow: #FDEC3F;
  --color-green : #10845B;
  --color-purple : #562579;
  --color-green100 : #099567;
  --color-green200: #0D5539;
  --color-green300 : #186C48;

  --shadow-footer : 0px 2px 4px 0px #099567;
}



html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #fff;
  color: #111;
  /* 3. Apply Jost as the default base font for standard HTML tags */
  font-family: 'Jost', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;

}

#root {
  min-height: 100vh;
}